/* Ensure the body and main app don't restrict the form's width */
body, html {
    background-color: #ededed;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* Prevents horizontal scrolling */
}

.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers the form horizontally */
}